@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-tabs-tab.ant-tabs-tab-active {
  background-color: #d9d9d9 !important;
}

.ant-tabs-tab-btn {
  color: black !important;
  font-size: 14px !important;
  font-weight: 600;
  text-transform: capitalize;
}

.ant-menu-item .ant-menu-item-selected {
  background-color: #d9d9d9 !important;
  color: black !important;
}
