@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', Arial, sans-serif;
}

.custom-label .ant-form-item-label > label {
  @apply text-[#666666] font-semibold;
}

.ant-tabs-tab{
  @apply !rounded-md !border-2 !border-neutral-200;
  /* padding: 10px !important; */
  margin-bottom: 20px !important;
  margin-right: 20px !important;
}

.ant-tabs-nav::before{
    display: none !important;
}

.ant-tabs-ink-bar {
  display: none !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
  background-color: #d9d9d9 !important;
}

.ant-tabs-tab-btn {
  color: black !important;
  font-size: 14px !important;
  font-weight: 600;
  text-transform: capitalize;
  /* margin: 10px  */
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* menu styles */
.custom-menu .ant-menu-submenu-title {
  background-color: #000000;
  color: #ffffff;
}

.custom-menu .ant-menu-submenu-title:hover {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.custom-menu .ant-menu-item-selected {
  background-color: #ffffff;
  color: #000000;
}

.custom-menu .ant-menu-item-selected:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield !important;
}
